<li id="product-<%= product.id %>">
  <span class="product_name">
    <%= link_to product.name, product_path(product.id) %>
  </span><br>

  <span class="product_info">
    カテゴリー: <%= Category.find(product.category_id).name %>
  </span><br>

  <span class="product_info">
    ブランド: <%= Brand.find(product.brand_id).name %>
  </span><br>

  <span class="product_info">
    価格: ￥<%= product.price %>
  </span><br><br><br><br>

  <span class="picture jumbotron">
    <%= product.icon %>
  </span><br><br><br><br>

  <span class="timestamp">
    Added <%= time_ago_in_words(product.created_at) %> ago.
  </span>

  <span class="timestamp">
    Updated <%= time_ago_in_words(product.updated_at) %> ago.
  </span>
</li>
