<% provide(:title, 'Add product') %>
<% provide(:button_text, '商品を追加する') %>
<h1>商品追加</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: @product %>

      <%= f.label :商品名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :カテゴリ %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>

      <%= f.label :ブランド %>
      <%= f.collection_select :brand_id, Brand.all, :id, :name, class: 'form-control' %>

      <%= f.label :価格 %>
      <%= f.number_field :price, class: 'form-control', min:0, placeholder: '半角数字で価格を入力', value: nil%>

      <%= f.label :商品詳細（500字以内） %>
      <%= f.text_area :detail, class: 'form-control' %>

      <%= f.label :アイコン %>
      <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>

    <script type="text/javascript">
      $('#product_icon').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
      });
    </script>

  </div>
</div>
