<% provide(:title, @product.name) %>

<h1>商品詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ol class="products">
      <span class="product_name">
      <%= link_to @product.name, product_path(@product.id) %></span>
      <table>
        <tr>
          <td width="470">
            <%= image_tag @product.icon.url if @product.icon? %>
            <h4><%= "Sorry, the image does not exist." if !@product.icon? %></h4>

          </td>
          <td width="500">
            <span class="product_info">カテゴリー: <%= Category.find(@product.category_id).name %></span>
            <span class="product_info">ブランド: <%= Brand.find(@product.category_id).name %></span>
            <span class="product_info">価格: ¥<%= @product.price %></span>
            <span class="detail jumbotron"><%= @product.detail %></span>

            <% if @product_sizes.empty? %>
              <h3>ただいまこちらの商品はお取り扱いしておりません。</h3>
            <% else %>
              <ol class="stocks">
                <% @product_sizes.each do |each_product| %>
                  <% size_id      = each_product[:size_id] %>
                  <% product_id   = each_product[:product_id] %>
                  <% if each_amount(size_id) > 100 %>
                    <h4>サイズ: <%= each_size(size_id) %> / 在庫: ○</h4>
                  <% elsif each_amount(size_id) > 0 %>
                    <h4>サイズ: <%= each_size(size_id) %> / 在庫数: <%= each_amount(size_id) %></h4>
                  <% else %>
                    <h4>サイズ: <%= each_size(size_id) %> / 在庫: 品切れ</h4>
                  <% end %>
                <% end %>
              </ol>
              <%= form_with url: item_path do |form| %>
                <%= hidden_field_tag :product_id, @product.id %>
                <%= form.label :サイズ %>
                <%= form.collection_select(:size_id, Size.where(id: size_ids(@product_sizes)), :id, :name) %>
                <%= form.number_field :quantity, class: 'form-control', min:1, max:100, placeholder: '購入数を半角数字で入力してください', value: 1%>
                <%= form.submit "カートに追加", class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table><br><br>

      <% if current_user.favproduct?(@product) %>
        <%= form_for(current_user.favorites.find_by(product_id: @product.id), html: { method: :delete }) do |f| %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= f.submit 'お気に入り登録解除', class: 'btn btn-danger' %>
        <% end %>
      <% else %>
        <%= form_for(current_user.favorites.build) do |f| %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= f.submit 'お気に入り登録', class: 'btn btn-default' %>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>
