<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "gaga townã€€", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= form_tag search_path, method: :get do %>
            <%= text_field_tag :name, params[:name], size: 35, placeholder: "ä½•ã‹ãŠæŽ¢ã—ã§ã™ã‹ï¼Ÿ", class:'form-control' %></li>
            <li><%= submit_tag :ðŸ”, class:'btn btn-primary' %>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ãƒ›ãƒ¼ãƒ ", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ã‚«ãƒ¼ãƒˆ", cart_path(@current_cart) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ã‚¢ã‚«ã‚¦ãƒ³ãƒˆ <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼æƒ…å ±å¤‰æ›´", edit_user_path(current_user) %></li>
              <li><%= link_to "å•†å“è¿½åŠ ", new_product_path %></li>
              <li><%= link_to "ãŠæ°—ã«å…¥ã‚Šãƒªã‚¹ãƒˆ", edit_user_path(current_user) %></li>
              <li><%= link_to "è³¼å…¥å±¥æ­´", purchases_path(current_user) %></li>

              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
